.body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.curriculo {
  border: 1px solid;
  width: 700px;
  height: 900px;
}

/* Lado Esquerdo */

.ladoesquerdo {
  background-color: #1e676b;
  height: 900px;
  width: 250px;
  float: left;
}

.faixa {
  height: 80px;
  margin-top: 80px;
  background-color: #0a3256;
}

.imagemETexto {
  height: 200px;
  margin: -100px 11px 0;
}

.imagem {
  width: 100%;
}

.texto {
  font-size: 10px;
  color: white;
  padding: 3px;
}

.habilidades {
  text-align: center;
}

.competencias {
  align-items: center;
  height: 60px;

  margin-top: 90px;
}

.tituloDescricao {
  color: white;
  display: inline-block;
  margin: -18px 0 0 -73px;
  padding: 0 10px;
  background-color: #1e676b;
  position: absolute;
  font-size: 20px;
}

.descricao {
  color: white;
  padding: 10px;
  font-size: 14px;
}

/* Lado Direito */

.ladodireito {
  float: left;
  height: 800px;
  width: 420px;
}

.header {
  height: 80px;
  margin-top: 80px;
  background-color: #c2e5eb;
  text-align: center;
}
